body{
    text-align: center;
}
.ruleset li{
    text-align: left;
    margin: 5px;
    height: 50px;
}
.rules-dialog{
    border-style: none;
    border-radius: 12px;
    box-shadow:0 10px 12px 0 gray;
    height: 500px;
    text-align: center;
}
.button-default{
    border-radius: 30px;
    border-style: none;
    padding: 10px;
    margin: 20px;
}
.button-default:hover{
    cursor:pointer;
    background-color: #009c4f;
    color: white;
}
.timer-score-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#name-input{
    text-align: center;
}
.option{
    margin: 10px;
    padding: 15px;
    width: 400px;
    border-style: none;
    border-radius: 10px;
    background-color: whitesmoke;
}

.quiz-main{
    display: grid;
    grid-template: auto auto auto auto / auto;
    justify-content: space-evenly;
}
.attempts{
    padding: 10px;
    border-style: none;
    border-radius: 20px;
}
.attempts:hover:enabled{
    background-color: #009c4f;
    color: white;
}

.timer-score-container{
    display: grid;
    grid-template: auto / 50% 50%;
    justify-content: space-around;
}
.attempts-list{
    list-style-type: none;
    display: grid;
    grid-template: auto/ auto auto;
    margin: auto;
    padding: 1px;
}
.attempts-list-name{
    float: left;
    padding: 10px;
    border-right-style: solid;
    border-bottom-style: solid;
    margin-bottom: 5px;
}
.attempts-list-score{
    padding: 10px;
    border-bottom-style: solid;
    border-left-style: solid;
    margin-bottom: 5px;
    margin-left:5px;
}
.results-dialog{
    border-style: none;
    box-shadow:0 10px 12px 0 gray;
}