body{
    text-align: center;
}
.ruleset li{
    text-align: left;
    margin: 5px;
}
.rules-dialog{
    border-style: none;
    border-radius: 12px;
    box-shadow:0 10px 12px 0 gray;
}
.button-default{
    border-radius: 30px;
    border-style: none;
    padding: 10px;
    margin: 20px;
}
.button-default:hover{
    cursor:pointer;
    background-color: #009c4f;
    color: white;
}
.timer-score-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#name-input{
    text-align: center;
}
.option{
    margin: 10px;
    padding: 15px;
    width: 150px;
}

.quiz-main{
    display: grid;
    grid-template: auto auto / auto auto;
    justify-content: space-evenly;
}

a:hover{
    cursor: pointer;
}